<a href="https://colab.research.google.com/github/V-arshaSharma/Data-Expolatory-/blob/main/Mckinsey_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
!gdown 1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_

Downloading...
From: https://drive.google.com/uc?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
To: /content/mckinsey.csv
100% 83.8k/83.8k [00:00<00:00, 80.4MB/s]

In [4]:
df = pd.read_csv("mckinsey.csv")

In [5]:
df.shape

(1704, 6)

In [6]:
df.shape[1]

6

In [7]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [8]:
# first five row of data
df.iloc[0:5]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [9]:
df.loc[0:4]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [10]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [11]:
df.tail() #last 5 rows

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [12]:
 df.iloc[-3:] #last 3 rows

       country  year  population continent  life_exp     gdp_cap
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [13]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [14]:
# display all the record of iceland
df.query('country == "Iceland"')

     country  year  population continent  life_exp       gdp_cap
684  Iceland  1952      147962    Europe    72.490   7267.688428
685  Iceland  1957      165110    Europe    73.470   9244.001412
686  Iceland  1962      182053    Europe    73.680  10350.159060
687  Iceland  1967      198676    Europe    73.730  13319.895680
688  Iceland  1972      209275    Europe    74.460  15798.063620
689  Iceland  1977      221823    Europe    76.110  19654.962470
690  Iceland  1982      233997    Europe    76.990  23269.607500
691  Iceland  1987      244676    Europe    77.230  26923.206280
692  Iceland  1992      259012    Europe    78.770  25144.392010
693  Iceland  1997      271192    Europe    78.950  28061.099660
694  Iceland  2002      288030    Europe    80.500  31163.201960
695  Iceland  2007      301931    Europe    81.757  36180.789190

In [16]:
# using masking get iceland records
mask = df['country'] == 'Iceland'
df[mask] #extract all records

     country  year  population continent  life_exp       gdp_cap
684  Iceland  1952      147962    Europe    72.490   7267.688428
685  Iceland  1957      165110    Europe    73.470   9244.001412
686  Iceland  1962      182053    Europe    73.680  10350.159060
687  Iceland  1967      198676    Europe    73.730  13319.895680
688  Iceland  1972      209275    Europe    74.460  15798.063620
689  Iceland  1977      221823    Europe    76.110  19654.962470
690  Iceland  1982      233997    Europe    76.990  23269.607500
691  Iceland  1987      244676    Europe    77.230  26923.206280
692  Iceland  1992      259012    Europe    78.770  25144.392010
693  Iceland  1997      271192    Europe    78.950  28061.099660
694  Iceland  2002      288030    Europe    80.500  31163.201960
695  Iceland  2007      301931    Europe    81.757  36180.789190

In [23]:
# from df, find the average TOTAL gdp of iceland the year 2007

df3 = df.query('country == "Iceland" and year < 2000')
df3["total_gdp"] = df3['population'] * df3['gdp_cap']

<ipython-input-23-cb159bd07c16>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["total_gdp"] = df3['population'] * df3['gdp_cap']

In [25]:
df3 = df.query('country == "Iceland" and year < 2000') .copy() #here we make a copy to avoid above warning error
df3["total_gdp"] = df3['population'] * df3['gdp_cap']

In [26]:
df3

,country,year,population,continent,life_exp,gdp_cap,tota_gdp,total_gdp
684,Iceland,1952,147962,Europe,72.49,7267.688428,1.075342e+09,1.075342e+09
685,Iceland,1957,165110,Europe,73.47,9244.001412,1.526277e+09,1.526277e+09
686,Iceland,1962,182053,Europe,73.68,10350.159060,1.884278e+09,1.884278e+09
687,Iceland,1967,198676,Europe,73.73,13319.895680,2.646344e+09,2.646344e+09
688,Iceland,1972,209275,Europe,74.46,15798.063620,3.306140e+09,3.306140e+09
689,Iceland,1977,221823,Europe,76.11,19654.962470,4.359923e+09,4.359923e+09
690,Iceland,1982,233997,Europe,76.99,23269.607500,5.445018e+09,5.445018e+09
691,Iceland,1987,244676,Europe,77.23,26923.206280,6.587462e+09,6.587462e+09
692,Iceland,1992,259012,Europe,78.77,25144.392010,6.512699e+09,6.512699e+09
693,Iceland,1997,271192,Europe,78.95,28061.099660,7.609946e+09,7.609946e+09

In [27]:
df3['total_gdp'].mean() #average

4095342816.207885

In [28]:
int(df3['total_gdp'].mean())

4095342816

In [31]:
df3['total_gdp'].aggregate(['sum', 'max', 'min', 'mean', 'count', 'median'])

sum       4.095343e+10
max       7.609946e+09
min       1.075342e+09
mean      4.095343e+09
count     1.000000e+01
median    3.833031e+09
Name: total_gdp, dtype: float64

In [32]:
df3['total_gdp'].aggregate(['sum', 'max', 'min', 'mean', 'count', 'median']). astype(dtype = 'int')

sum       40953428162
max        7609945738
min        1075341715
mean       4095342816
count              10
median     3833031252
Name: total_gdp, dtype: int64

In [36]:
# using masking for above
mask1 = df['country'] == 'Iceland'
mask2 = df['year'] < 2000
df[mask1 & mask2]

     country  year  population continent  life_exp       gdp_cap      tota_gdp
684  Iceland  1952      147962    Europe     72.49   7267.688428  1.075342e+09
685  Iceland  1957      165110    Europe     73.47   9244.001412  1.526277e+09
686  Iceland  1962      182053    Europe     73.68  10350.159060  1.884278e+09
687  Iceland  1967      198676    Europe     73.73  13319.895680  2.646344e+09
688  Iceland  1972      209275    Europe     74.46  15798.063620  3.306140e+09
689  Iceland  1977      221823    Europe     76.11  19654.962470  4.359923e+09
690  Iceland  1982      233997    Europe     76.99  23269.607500  5.445018e+09
691  Iceland  1987      244676    Europe     77.23  26923.206280  6.587462e+09
692  Iceland  1992      259012    Europe     78.77  25144.392010  6.512699e+09
693  Iceland  1997      271192    Europe     78.95  28061.099660  7.609946e+09

In [43]:
# list only records of highest gdp in each continent
# step 1 is sort all values of population in descending order

df4 = df.sort_values("population", ascending = False)

# step 2 , apart from first value, drop all duplicate of "continent"
df5 = df4.drop_duplicates('continent', keep = 'first')

In [40]:
df4

,country,year,population,continent,life_exp,gdp_cap,tota_gdp
299,China,2007,1318683096,Asia,72.961,4959.114854,6.539501e+12
298,China,2002,1280400000,Asia,72.028,3119.280896,3.993927e+12
297,China,1997,1230075000,Asia,70.426,2289.234136,2.815930e+12
296,China,1992,1164970000,Asia,68.690,1655.784158,1.928939e+12
707,India,2007,1110396331,Asia,64.698,2452.210407,2.722925e+12
...,...,...,...,...,...,...,...
1299,Sao Tome and Principe,1967,70787,Africa,54.425,1384.840593,9.802871e+07
1298,Sao Tome and Principe,1962,65345,Africa,51.893,1071.551119,7.002051e+07
420,Djibouti,1952,63149,Africa,34.812,2669.529475,1.685781e+08
1297,Sao Tome and Principe,1957,61325,Africa,48.945,860.736903,5.278469e+07
1296,Sao Tome and Principe,1952,60011,Africa,46.471,879.583586,5.278469e+07

In [44]:
df5 # in result we can see only first value , no duplicates

,country,year,population,continent,life_exp,gdp_cap,tota_gdp
299,China,2007,1318683096,Asia,72.961,4959.114854,6.539501e+12
1619,United States,2007,301139947,Americas,78.242,42951.653090,1.293446e+13
1139,Nigeria,2007,135031164,Africa,46.859,2013.977305,2.719497e+11
575,Germany,2007,82400996,Europe,79.406,32170.374420,2.650871e+12
71,Australia,2007,20434176,Oceania,81.235,34435.367440,7.036584e+11

In [45]:
# list only records of lowest gdp in each continent
# step 1 is sort all values of population in descending order

df4 = df.sort_values("population", ascending = True)

# step 2 , apart from first value, drop all duplicate of "continent"
df5 = df4.drop_duplicates('continent', keep = 'first')

In [46]:
df4 #here can see the lowest population

,country,year,population,continent,life_exp,gdp_cap,tota_gdp
1296,Sao Tome and Principe,1952,60011,Africa,46.471,879.583586,5.278469e+07
1297,Sao Tome and Principe,1957,61325,Africa,48.945,860.736903,5.278469e+07
420,Djibouti,1952,63149,Africa,34.812,2669.529475,1.685781e+08
1298,Sao Tome and Principe,1962,65345,Africa,51.893,1071.551119,7.002051e+07
1299,Sao Tome and Principe,1967,70787,Africa,54.425,1384.840593,9.802871e+07
...,...,...,...,...,...,...,...
707,India,2007,1110396331,Asia,64.698,2452.210407,2.722925e+12
296,China,1992,1164970000,Asia,68.690,1655.784158,1.928939e+12
297,China,1997,1230075000,Asia,70.426,2289.234136,2.815930e+12
298,China,2002,1280400000,Asia,72.028,3119.280896,3.993927e+12
299,China,2007,1318683096,Asia,72.961,4959.114854,6.539501e+12

In [47]:
df5 # no duplicate only first value with lowest population

,country,year,population,continent,life_exp,gdp_cap,tota_gdp
1296,Sao Tome and Principe,1952,60011,Africa,46.471,879.583586,5.278469e+07
84,Bahrain,1952,120447,Asia,50.939,9867.084765,1.188461e+09
684,Iceland,1952,147962,Europe,72.490,7267.688428,1.075342e+09
1548,Trinidad and Tobago,1952,662850,Americas,59.100,3023.271928,2.003976e+09
1092,New Zealand,1952,1994794,Oceania,69.390,10556.575660,2.105819e+10

In [67]:
#P5
#What percentage of countries in Asia had life_exp > 60 in 1962
N = df.query('continent == "Asia" and year == 1962 and life_exp > 60').shape[0]
D = df.query('continent == "Asia" and year == 1962').shape[0]

In [68]:
N #in above we use .shape[0] to count the total , also can use count functiondf1 = pd.DataFrame({"name": ['tobey', 'peter', 'chris', 'pratt'],'chem_score':[10, 9, 8, 7], 'phy_score':[7, 8, 9, 10], 'Hindi_score':[9, 9, 9, 9]})
df2 = pd.DataFrame({"name": ['chris', 'pratt', 'andrew', 'tom'],'chem_score':[10, 10, 10, 9], 'maths_score':[6, 6, 7, 9], 'eng_score':[9, 10, 10, 9]})

8

In [69]:
D

33

In [59]:
print((N / D) * 100)

24.242424242424242

In [70]:
df1 = pd.DataFrame({"name": ['tobey', 'peter', 'chris', 'pratt'],'chem_score':[10, 9, 8, 7], 'phy_score':[7, 8, 9, 10], 'Hindi_score':[9, 9, 9, 9]})
df2 = pd.DataFrame({"name": ['chris', 'pratt', 'andrew', 'tom'],'chem_score':[10, 10, 10, 9], 'maths_score':[6, 6, 7, 9], 'eng_score':[9, 10, 10, 9]})

In [71]:
df1

    name  chem_score  phy_score  Hindi_score
0  tobey          10          7            9
1  peter           9          8            9
2  chris           8          9            9
3  pratt           7         10            9

In [72]:
df2

     name  chem_score  maths_score  eng_score
0   chris          10            6          9
1   pratt          10            6         10
2  andrew          10            7         10
3     tom           9            9          9

In [76]:
# concat df1 and df2
pd.concat([df1,df2])

     name  chem_score  phy_score  Hindi_score  maths_score  eng_score
0   tobey          10        7.0          9.0          NaN        NaN
1   peter           9        8.0          9.0          NaN        NaN
2   chris           8        9.0          9.0          NaN        NaN
3   pratt           7       10.0          9.0          NaN        NaN
0   chris          10        NaN          NaN          6.0        9.0
1   pratt          10        NaN          NaN          6.0       10.0
2  andrew          10        NaN          NaN          7.0       10.0
3     tom           9        NaN          NaN          9.0        9.0

In [79]:
# first row count
pd.concat([df1,df2]).iloc[0].count()

4

In [80]:
# merge
pd.merge(df1,df2, on = 'name', how = 'inner')

,name,chem_score_x,phy_score,Hindi_score,chem_score_y,maths_score,eng_score
0,chris,8,9,9,10,6,9
1,pratt,7,10,9,10,6,10

In [82]:
# average
pd.merge(df1,df2, on = 'name', how = 'inner').mean(axis = 1)

<ipython-input-82-15d3ef265c86>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pd.merge(df1,df2, on = 'name', how = 'inner').mean(axis = 1)

0    8.500000
1    8.666667
dtype: float64

In [83]:
pd.merge(df1,df2, on = 'name', how = 'inner').mean(axis = 1).iloc[0]

<ipython-input-83-8423fb37b7b6>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pd.merge(df1,df2, on = 'name', how = 'inner').mean(axis = 1).iloc[0]

8.5